html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

@font-face {
    font-family: jpFont;
    src: url(sansation_light.woff);
}

:lang(jp)) {
  font-family: jpFont;
}




/*
 * Header
 */

 .jumbotron {
   background-color: #4682b4;
   line-height: 0.9;
 }


p .title{
  font-size:1em;
}



.carousel-inner{
  max-height: 325px;
}

.carousel-item{
  max-height: 325px;

}

.carousel-caption{
color: #ffffff;
}

.nav-menu{

  margin-left: 1em;
  margin-right: 1em;

}

.menu {

  color: #ffffff;
  font-size:1.2em;

}

.menu-active {

  color: rgba(255, 255, 255, .5);
  font-size:1.2em;

}


/*
 * Boby
 */



/*
 * Footer
 */


/* Custom default button */
